*
{
    color: whitesmoke;
    background-color: rgb(25, 75, 50);
}
html, body
{
    margin: 0 auto;
}
body
{
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

main
{
    margin: 10px 10vw;
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    gap: 10px;
}

section
{
    opacity: 0.8;
    transition: all 350ms;
}
section:nth-of-type(n+3)
{
    min-height: 300px;
}
section:hover
{
    opacity: 1.0;
    box-shadow: 0 0 5px 0px whitesmoke;
}
/* section:has(a:hover)
{
    background-color: red;
} */

h1,h2
{
    text-align: center;
}

#general
{
    grid-column: 1/span 2;
    display: grid;
    grid-template-columns: 2fr 5fr 4fr;
}
#general, #important
{
    height: 100px;
}