#google
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
#google > h2
{
    grid-column: 1 / span 6;
}
#google > a:nth-of-type(3n+1)
{
    grid-column: 1 / span 2;
}
#google > a:nth-of-type(3n+2)
{
    grid-column: 3 / span 2;
}
#google > a:nth-of-type(3n+3)
{
    grid-column: 5 / span 2;
}
#google > a:nth-last-of-type(2)
{
    grid-column: 2 / span 2;
}
#google > a:nth-last-of-type(1)
{
    grid-column: 4 / span 2;
}